# Bỏ qua tất cả các tệp trong wp-content
*

# Bỏ qua các tệp không cần thiết khác
/node_modules
package-lock.json
.env

# Loại trừ phần phát triển
!plugins/
!plugins/extend-site/
!plugins/extend-site/**

!plugins/extend-affiliate-ads/
!plugins/extend-affiliate-ads/**

!themes/
!themes/tianshu/
!themes/tianshu/**

!src/
!src/**

!.gitignore
!gulpfile.js
!package.json
!README.md