@import "shared/scss/abstracts/abstracts";

.footer {
  section {
    &.widget {

    }
  }

  &__column {
    border-top: .1rem solid color-var("primary");
    padding: 3rem 0;
  }

  &__bottom {
    padding: 1rem 0;
    color: color-var("white");
    background-color: $body-color;
  }
}