@import "shared/scss/abstracts/abstracts";

.footer {
  background-color: theme-var('white');
  border-top: .1rem solid theme-var('border');

  section {
    &.widget {}
  }

  &__column {
    padding: 3rem 0;
  }

  &__bottom {
    padding: theme-var('spacing-3') 0;
    border-top: .1rem solid theme-var('border');
  }
}