@import "shared/scss/abstracts/abstracts";

.main-header {
  background-color: color-var("white");

  &__top {
    min-height: 6rem;
    border-bottom: .1rem solid theme-var('border');

    .canvas-action {
      .navbar-toggler {
        .ic-mask {
          --#{$prefix-theme}ic-width: 2.4rem;
          --#{$prefix-theme}ic-height: 2.4rem;
        }
      }
    }

    .logo {
      --#{$prefix-theme}max-width-logo: 16rem;

      border-right: .1rem solid theme-var('border');
      flex: 0 0 auto;
      padding-top: theme-var('spacing-2');
      padding-right: theme-var('spacing-2');
      padding-bottom: theme-var('spacing-2');

      a {
        display: inline-block;
        max-width: theme-var('max-width-logo');
      }
    }

    .search-bar {
      .btn-modal-search {
        .ic-mask {
          --#{$prefix-theme}ic-width: 2rem;
          --#{$prefix-theme}ic-height: 2rem;
        }
      }

      .search-form-story {
        .search-field {
          --#{$prefix-theme}width-field: 38rem;
        }
      }
    }
  }

  &__warp {
    position: relative;
    gap: 2.4rem;
    min-height: 6rem;
    border-bottom: 1px solid theme-var('border');
    box-shadow: 0 .125rem .25rem rgba(0, 0, 0, .075);
  }

  .primary-menu {
    --#{$prefix-theme}menu-item-padding: 0 1.2rem;
    flex: 1;

    @media (max-width: 991px) {
      position: absolute;
      top: 100%;
      left: 0;
      right: 0;
      background-color: #eeeeee;
      z-index: 99;

      .collapse {
        display: none !important;

        &.in {
          display: block !important;
        }
      }
    }

    > ul {
      @media (min-width: 992px) {
        height: 100%;
      }

      > li {
        &:first-child {
          > a {
            padding-left: 0;
          }
        }

        @media (min-width: 992px) {
          display: inline-flex;
          height: 100%;
          align-items: center;

          &:not(:last-child) {
            margin-right: theme-var('spacing-2');
          }
        }

        > a {
          padding: var(--#{$prefix-theme}menu-item-padding);
        }
      }
    }

    ul {
      padding: 0;
      margin: 0;

      li {
        position: relative;

        @media (min-width: 992px) {
          &:hover {
            > .sub-menu {
              top: 100%;
              z-index: 999;
              opacity: 1;
              visibility: visible;
            }
          }
        }

        @media (max-width: 991px) {
          display: block;
          border-bottom: .1rem solid rgba(0, 0, 0, 0.1);

          &:last-child {
            border-bottom: 0;
          }
        }

        a {
          text-shadow: none;
          font-size: fs-var('md');
          color: color-var('black');
          font-weight: fw-var('medium');

          @media (min-width: 992px) and (max-width: 1200px) {
            --#{$prefix-theme}menu-item-padding: 0 .8rem;
            display: block;
          }

          @media (max-width: 991px) {
            --#{$prefix-theme}menu-item-padding: .8rem;
            display: inline-block;
          }

          &:hover {
            background-color: transparent;
            color: color-var("accent");;
          }
        }

        &:last-child {
          a {
            padding-right: 0;
          }
        }

        .sub-menu-toggle {
          @media (max-width: 991px) {
            position: absolute;
            right: 1.5rem;
            top: 1rem;
            width: 1.2rem;
            height: 2rem;

            &.active {
              @include mask-image("#{$ic-path-theme}/minus.svg");
            }
          }
        }

        &.current-menu-item,
        &.current-menu-parent {
          > a {
            color: color-var("accent");;
          }
        }

        &:nth-last-child(1),
        &:nth-last-child(2) {
          .sub-menu {
            @media (min-width: 992px) and (max-width: 1400px) {
              left: auto;
              right: 0;

              li {
                .sub-menu {
                  left: auto;
                  right: 90%;
                }

                &:hover {
                  > .sub-menu {
                    left: auto;
                    right: 100%;
                  }
                }
              }
            }
          }
        }

        .sub-menu {
          @media (min-width: 992px) {
            display: block !important;
            min-width: 18rem;
            border-top: .1rem solid color-var("accent");;
            background-color: color-var("white");
            position: absolute;
            top: 120%;
            left: 0;
            z-index: -1;
            visibility: hidden;
            opacity: 0;
            box-shadow: 0 .5rem 1rem rgba(0, 0, 0, .15);
            @include transition();

            li {
              padding: .6rem .8rem;
              display: flex;

              a {
                white-space: nowrap;
                flex: 1;
              }

              .sub-menu {
                left: 90%;
                top: -0.1rem;
              }

              &:hover {
                > .sub-menu {
                  left: 100%;
                }

                > .sub-menu-toggle {
                  transform: rotate(-90deg);
                }
              }
            }
          }

          @media (max-width: 991px) {
            display: none;
            border-top: 0;
            background-color: transparent;

            li {
              border-bottom: 0;
              padding: 0;

              a {
                padding: .8rem;

                &:before {
                  content: "\f111";
                  display: inline-block;
                  font-family: $font-awesome-free;
                  font-style: normal;
                  font-weight: fw-var("regular");
                  font-size: 1rem;
                  margin-right: 1rem;
                }
              }

              .sub-menu-toggle {
                top: .5rem;
              }

              .sub-menu {
                padding-left: 2rem;
              }
            }
          }
        }
      }
    }
  }

  .widget-cart-warp {
    position: relative;
    padding-right: 1rem;
    flex: 0;

    .cart-box {
      position: relative;
      cursor: pointer;

      i {
        --#{$prefix-theme}ic-width: 1.8rem;
        --#{$prefix-theme}ic-height: 1.8rem;

        padding-right: 1.5rem;
      }

      .number-cart-product {
        --#{$prefix-theme}cart-size: 1.8rem;

        position: absolute;
        font-size: 1.2rem;
        color: #ffffff;
        top: -1.2rem;
        right: -0.8rem;
        @include square(var(--#{$prefix-theme}cart-size), 50%);
        line-height: var(--#{$prefix-theme}cart-size);
        text-align: center;
        background-color: color-var("accent");;
      }
    }

    .mini-cart-dropdown {
      position: absolute;
      top: 120%;
      right: 0;
      width: 30rem;
      padding: 2rem 1.5rem;
      background-color: color-var("white");
      z-index: 10;
      opacity: 0;
      visibility: hidden;
      box-shadow: 0 0 1.5rem -0.5rem rgba(0, 0, 0, 0.4);
      @include transition();

      .mini-cart-items {
        @extend %list-style-none;

        .item {
          position: relative;
          display: grid;
          gap: .8rem;
          grid-template-columns: 5rem 1fr 2.4rem;

          ~ .item {
            margin-top: 1.2rem;
          }

          .info {
            font-size: 1.4rem;
            min-width: 0;

            .product-name {
              display: block;
              white-space: nowrap;
              overflow: hidden;
              text-overflow: ellipsis;
              max-width: 100%;
            }
          }

          .quantity {
            span {
              display: inline-block;
            }
          }

          .block-ui-spinner {
            position: absolute;
            top: 0;
            right: 0;
            bottom: 0;
            left: 0;
            background-color: rgba(0, 0, 0, 0.5);
            z-index: 10;

            &::after {
              content: "";
              position: absolute;
              top: 50%;
              left: 50%;
              @include square(2rem, 50%);
              border: .3rem solid #e1e1e1;
              border-top-color: transparent;
              transform: translate(-50%, -50%);
              animation: spin-block-ui 0.6s linear infinite;
            }
          }

          .action {
            .remove {
              --wc-red: color-var("error");

              color: var(--wc-red);
              @include square(2.4rem, 50%);
              @extend %flex-align-center;

              &:hover {
                color: #fff;
                background: var(--wc-red);
              }
            }
          }
        }
      }

      .mini-cart-footer {
        .action {
          a {
            padding: .8rem 1.2rem;
            display: block;
            color: color-var("white");
            line-height: normal;
            font-weight: normal;
            background-color: color-var("primary");
          }
        }
      }
    }

    &:hover {
      .mini-cart-dropdown {
        top: 100%;
        opacity: 1;
        visibility: visible;
      }
    }
  }
}

.sub-menu-toggle {
  --#{$prefix-theme}ic-width: 1.2rem;
  --#{$prefix-theme}ic-height: 1.2rem;

  cursor: pointer;
  color: var(--#{$prefix-theme}primary);
  @include transition();
}

.primary-menu-mobile {
  .offcanvas-header,
  .offcanvas-body {
    padding: 1.6rem;
  }

  .offcanvas-header {
    border-bottom: 1px solid theme-var('border');
  }

  .offcanvas-body {
    .nav {
      > li {
        padding-bottom: .8rem;
        border-bottom: 1px solid theme-var('border');

        &:not(:last-child) {
          margin-bottom: .8rem;
        }
      }

      li {
        position: relative;
        flex-wrap: wrap;

        .sub-menu-toggle {
          position: absolute;
          right: .4rem;
          top: .7rem;
        }

        .sub-menu {
          width: 100%;
          display: none;
        }
      }
    }
  }
}

.admin-bar {
  @media (min-width: 992px) {
    .active-sticky-nav {
      top: 3.2rem;
    }
  }

  @media (max-width: 991px) {
    .primary-menu-mobile {
      padding-top: 4.6rem;
    }

    .modal-search-mobile {
      .modal-content {
        padding-top: 4.6rem;
      }
    }
  }
}

.active-sticky-nav {
  @media (min-width: 992px) {
    position: sticky;
    top: 0;
    z-index: 10;
  }
}

@keyframes spin-block-ui {
  to {
    transform: translate(-50%, -50%) rotate(360deg);
  }
}