@import "shared/scss/abstracts/abstracts";

form {
  &.wpcf7-form {
    br {
      display: none;
    }

    p {
      position: relative;
      margin: 0;

      + p {
        margin-top: theme-var('spacing-2');
      }

      &:has(.wpcf7-submit) {
        @extend %flex-align-center-vertical;
      }
    }

    .ajax-loader {
      position: absolute;
      top: .8rem;
    }

    label {
      display: block;
      font-weight: fw-var("medium");

      .wpcf7-form-control-wrap {
        margin-top: theme-var('spacing-2');
      }
    }

    span {
      &.required {
        color: color-var("error");
      }
    }

    .wpcf7-form-control-wrap {
      display: block;

      input,
      textarea {
        height: auto;
        width: 100%;
        display: block;
        @include border();
        @include border-radius();
        background-color: color-var("white");
        color: color-var("black");

        &:focus {
          border-color: color-var("primary");
        }
      }

      textarea {
        --#{$prefix-theme}h-textarea: 10rem;

        height: theme-var('h-textarea');
      }
    }

    .wpcf7-submit {
      color: color-var("white");
      border: none;
      cursor: pointer;
      text-transform: uppercase;
      @include border-radius();
      background: color-var("black");
      @include transition();

      &:hover {
        --#{$prefix-theme}black: var(--#{$prefix-theme}primary);
      }
    }

    .wpcf7-not-valid-tip {
      color: color-var("error");
    }

    &.invalid {
      .wpcf7-response-output {
        margin: theme-var('spacing-2') 0 0;
        padding: theme-var('spacing-2');
        @include border(.1rem, color-var("warning"));
      }
    }
  }
}